<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<table style="width: 600px;border-collapse: collapse;border-spacing: 0;">
  <tr>
    <td style="background-color:#777777;color:#FFFFFF;font-size: 25px;font-weight: bold;line-height: 45px; padding:0 20px;">

      <a href="http://saisiner.com" style="color: #FFFFFF;text-decoration: none;">Datos Democráticos</a>

    </td>
  </tr>

  <tr>
    <td style="padding:20px;">


<!---------------------- CONTENT ---------------------->

      <p>Hola,</p>
      <p>Gracias por registrarte en Datos Democráticos.</p>
      <p>Es necesario que confirmes tu correo para activar tu cuenta. Por favor haz click en el link de abajo.</p>
      <p>
        <a href="http://<%= @host %>/activate/<%= @user.id %>-<%= @user.get_signup_hash %>">http://<%= @host %>/activate/<%= @user.id %>-<%= @user.get_signup_hash %></a>
      </p>

<!---------------------- CONTENT ---------------------->

    </td>
  </tr>

  <tr>
    <td style="line-height:30px;padding:0 20px;background-color:#FFFFFF;color:#777777;font-size: 13px;line-height: 30px;">

      <a href="http://datosdemocraticos.com.ar" style="color: #777777;">datosdemocraticos.com.ar</a> &copy;

    </td>
  </tr>

</table>

</body>
</html>





