<h1 class="pull-left">Listado de campos de <%= @data_collection.name %></h1>

<a class="btn btn-large btn-primary pull-right boton-titulo" href="<%=  new_data_collection_data_field_path(@data_collection) %>">Nuevo</a>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Campo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @data_fields.each do |data_field| %>
      <tr>
        <td><%= data_field.name %> - <%= data_field.data_type.name %><%= data_field.is_key ? ' [KEY]' : '' %></td>
        <td><%= link_to 'Show', data_collection_data_field_path(data_field.data_collection, data_field) %></td>
        <td><%= link_to 'Edit', edit_data_collection_data_field_path(data_field.data_collection, data_field) %></td>
        <td><%= link_to 'Destroy', data_collection_data_field_path(data_field.data_collection, data_field), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
