<div class="spacer tiles-list centered-boxes">
    <div class="row spacer">
		<h1 class="pull-left">Set de datos abiertos</h1>
      <% if @is_admin %>
        <a class="btn btn-large btn-primary pull-right boton-titulo" href="<%= new_data_collection_path %>">Nuevo</a>
      <% end %>
    </div>
    <div class="row spacer filter">
        <span class="filter-title">Categorias:</span>
        <a class="category" href="?">Todas</a>
      <% @categories.each do |category| %>
	    <% if @sel_category == category.id.to_s %>
            <span class="category"><%=category.name%></span>
        <% else %>
            <a class="category" href="?category=<%=category.id%>"><%=category.name%></a>
        <% end %>
      <% end %>

    </div>


    <% @data_collections.each do |data_collection| %>


            <div class="box">
                <div class="content">
		            <h2><%= data_collection.institution %></h2>
                    <a href="<%=api_call_path (data_collection.collection_name)%>"><h3><%= data_collection.name %></h3></a>
                    <p><%= data_collection.description_short %></p>
                    <div>

            <% if @is_admin %>

                        <a href="<%=importador_csv_path (data_collection.id)%>">Importar</a>
	                    <a href="<%=data_collection_data_fields_path (data_collection.id)%>">Fields</a>
	                    <%= link_to 'Clonar', clonar_coleccion_path(data_collection.id) %>
	                    <%= link_to 'Edit', edit_data_collection_path(data_collection) %>
		                <%= link_to 'Destroy', data_collection, method: :delete, data: { confirm: 'Are you sure?' } %>

	        <% end %>
                    </div>
                </div>
            </div>


    <% end %>


    <div class="row">
      <% if @page > 0 %>
          <a class="pull-left" href="<%= data_collections_path %>?page=<%= @page - 1 %>">Anterior</a>
      <% end %>

      <% if @has_next_page %>
          <a class="pull-right" href="<%= data_collections_path %>?page=<%= @page + 1 %>">Siguiente</a>
      <% end %>
      
      
    </div>
</div>