<div class="spacer centered">
	<h1><%= @data_collection.name%></h1>
	<h2><%= @data_collection.institution%> - <%= @data_collection.name%></h2>
	<p><%= @data_collection.description %></p>

	<p>
	  <% if not @data_collection.country.nil? %>
	    <%= @data_collection.country.name %>
	  <% end %>
	  <% if not @data_collection.province.nil? %>
	    - <%= @data_collection.province.name %>
	  <% end %>
	  <% if not @data_collection.city.nil? %>
	    - <%= @data_collection.city.name %>
	  <% end %>
	</p>
    <hr/>
    <p>API Call: <strong><%= @data_collection.collection_name%></strong></p>
    <p><strong>URL: http://datosdemocraticos.com.ar<%=api_call_path (@data_collection.collection_name)%></strong></p>
    <hr/>
	<h3>Campos</h3>
	<ul>
	<% @data_collection.data_fields.each do |field| %>
		<li><%= field.name %> - <%= field.data_type.name %><%= field.is_filter ? ' [ALLOW FILER]' : '' %></li>
	<% end %>
	</ul>
    <hr/>
	<h3>Dataset <% if not @full %><span id="demo-text" title="<%= @message %>">Demo</span><% end %></h3>
    <script type="text/javascript">
        $(document).ready(function(){
	        $('#demo-text').tooltip();
        });
    </script>

	<table class="table">
		<thead>
			<tr>
			<% @data_collection.data_fields.each do |field| %>
			    <th><%= field.name %></th>
			<% end %>
			</tr>
		</thead>
	    <tbody>

	    <% @data.each do |item| %>
	        <tr>
		      <% @data_collection.data_fields.each do |field| %>
		          <td><%= item[field.name] %></td>
		      <% end %>
	        </tr>
		<% end %>

	    </tbody>

	</table>

	<div>

	  <% if @page > 1 %>
	      <a class="pull-left" href="<%= api_call_page_path(@data_collection.collection_name, @page -1) %>?apikey=<%= @apikey %>">Anterior</a>
	  <% end %>
	  <% if @has_next_page %>
	      <a class="pull-right" href="<%= api_call_page_path(@data_collection.collection_name, @page +1) %>?apikey=<%= @apikey %>">Siguiente</a>
	  <% end %>

	</div>
</div>