<h1>Editar datos de la coleccion <%= @data_collection.name %></h1>

<form action="<%= set_data_path %>" method="post">

	<% @data_collection.data_fields.each do |field| %>
		<div>
	        <label for="<%=field.name%>"><%=field.name%></label>
		    <input type="<%=field.data_type.manager.input_type%>" id="<%=field.name%>" name="<%=field.name%>" />
		</div>
    <% end %>

    <input type="submit" name="Guardar" value="Guardar" />
</form>