<div class="spacer form-wrapper">
<%= form_tag importador_csv_path(@data_collection.id), :method => "post", :multipart => true do %>

	<h1><%= @data_collection.name %></h1>

	<div class="form-group">
		<%= label :csv, 'Seleccione el archivo *.csv para importar:' %>
		<%= file_field_tag :csv, :class => "form-control" %>
	</div>


	<div class="form-group">
		<%= label(:separador, 'Caracter separador') %>
		<%= text_field :importacion, :separador, :class => "form-control" %>
	</div>

      <div class="actions">
        <%= submit_tag 'Procesar', :class => "btn btn-large btn-primary"%>
      </div>

<% end %>

</div>