<div class="form-wrapper">
  <%= form_tag registracion_path, :method => "post" do %>

      <div class="form-group">
        <%= label :email, 'Email:' %>
        <%= email_field_tag(:email,'', :class => "form-control") %>
      </div>

      <div class="form-group">
        <%= label :password, 'Password:' %>
        <%= password_field_tag(:password,'', :class => "form-control") %>
      </div>

      <div class="form-group">
        <%= label :repetir_password, 'Repetir password:' %>
        <%= password_field_tag(:repetir_password,'', :class => "form-control") %>
      </div>

      <div class="actions">
        <%= submit_tag 'Enviar', :class => "btn btn-large btn-primary"%>
      </div>
  <% end %>
</div>