<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <% if params.has_key? :page_title %>
      <title><%= params[:page_title]%></title>
  <% else %>
      <title>Datos Democráticos</title>
  <% end %>

  <% if params.has_key? :page_description %>
      <meta content="<%= params[:page_description]%>" name="description" />
  <% end %>

  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Datos Democráticos <small>Beta</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown <%= params[:current_menu_item] == :nosotros ? 'active' : '' %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nosotros <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= quienes_somos_path %>">¿Quiénes somos?</a></li>
                <li><a href="<%= contacto_path %>">Contacto</a></li>
              </ul>
            </li>

            <li class="dropdown <%= params[:current_menu_item] == :datos ? 'active' : '' %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Datos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= data_collections_path %>">Colecciones</a></li>
                <li><a href="<%= api_info_path %>">Información sobre la API</a></li>
              </ul>
            </li>

            <li class="<%= params[:current_menu_item] == :opendatainfo ? 'active' : '' %>"><a href="<%= open_data_info_path %>">Open Data / Open Gov</a></li>

            <% if @login_required %>
                <li><a href="#" onclick="$('#loginModal').modal('show');return false;">Login/Registración</a></li>
            <% else %>

                <li class="dropdown <%= params[:current_menu_item] == :micuenta ? 'active' : '' %>">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi cuenta <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= myaccount_path %>">Mi cuenta</a></li>
                    <li><a href="<%= logout_path %>">Logout</a></li>
                  </ul>
                </li>

            <% end %>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


<% if notice %>
<div class="alert alert-info alert-dismissable" id="notice">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= notice %>
</div>
<% end %>
<%= yield %>


  <footer>
    <p>&copy; <%= Time.now.year %> Datos Democráticos &middot; Beta &middot; <a href="<%=quienes_somos_path%>">¿Quiénes somos?</a> &middot; <a href="<%=contacto_path%>">Contacto</a></p>
  </footer>

<%= render 'user/loginmodal' %>
<% if  Rails.env.production? %>
<script type="text/javascript" data-turbolinks-eval=false>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-44619325-1', 'datosdemocraticos.com.ar');
	ga('send', 'pageview');

	$(document).on('page:change',function(){
		ga('send', 'pageview', window.location.href.replace(window.location.origin, ''));
	});

</script>
<% end %>
</body>
</html>
